.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.836);
}
.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-items a {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  /* margin: 15px auto; */
}

.nav-items li:visited {
  text-decoration: none;
}

.main-title {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 30px;
}

.nav-routes {
  text-decoration: none;
  color: whitesmoke;
}

.nav-routes:visited {
  text-decoration: none;
}
